<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Графики работы</title>
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header id="main_header" th:fragment="header">
        <section class="container">
            <a class="navbar-brand" href="#">Рабочие графики</a>
            <nav id="nav_header" class="navbar-collapse collapse">
                <ul>
                    <li th:classappend="${module == 'home' ? 'active' : ''}">
                        <a href="#" th:href="@{/}">Home</a>
                    </li>
                    <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                        <a href="#" th:href="@{/accounts}">Account</a>
                    </li>
                </ul>
                <ul class="navbar-nav-right">
                    <li>
                        <a href="/login" th:href="@{/login}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                        </a>
                    </li>
                    <li>
                        <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                        </a>
                        <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                    </li>
                </ul>
            </nav>
        </section>
    </header>

    <footer id="main_footer" th:fragment="footer">
        <p>Copyright &copy; 2023 wstudio.online</p>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Политика</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>