<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Товары</h1>
<div th:each="el : ${accounts}" class="editInformation">
  <div>
      <p th:text="${el.id}" class="size" name="id" id="id" placeholder="Text"></p>
      <p th:text="${el.name}" class="size" name="name" id="name" placeholder="Text"></p>
      <p th:text="${el.amount}" class="size" name="amount" id="amount" placeholder="Text"></p>
  </div>
</div>
</body>
</html>