<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><span th:style="'color:blue'" th:text="Счета"></span></h1>
<table>
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Сумма</th>
    </tr>
    <tr th:each="a: ${accounts}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.name}"></td>
        <td th:text="${a.amount}"></td>
        <td>
            <form action="/delete" method="post">
                <button th:style="'color:red'" type="submit" name="id" value="${a.id}">Удалить</button>
            </form>
        </td>
    </tr>
</table>
<h2>Добавление счета</h2>
<form action="/accounts" method="post">
    Наименование: <input type="text" name="name"><br/>

    Сумма: <input type="number" step="any" name="amount"><br/>

    <button type="submit">Добавить счет</button>
</form>
</body>
</html>