<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <form method="post" action="/addPerson">
    <fieldset id="personal_information">
      <legend>Добавление сотрудника</legend>
        <ol>
          <li>
            <label for="lastname">Фамилия</label>
            <input type="text" name="lastname" autofocus id="lastname" placeholder="Иванов"
              required>
          </li>
          <li>
            <label for="firstname">Имя</label>
            <input type="text" name="firstname" id="firstname" placeholder="Иван"
              required>
          </li>
          <li>
            <label for="secondname">Отчество</label>
            <input type="text" name="secondname" id="secondname" placeholder="Иванович">
          </li>
          <li>
            <label for="birthday">Дата рождения</label>
            <input type="date" name="birthday" id="birthday" placeholder="12.03.2023"
              required>
          </li>
          <li>
            <label for="tabnum">Табельный номер</label>
            <input type="text" name="tabnum" id="tabnum" placeholder="как в у расчетчиков"
              required>
          </li>
          <li>
            <input type="submit" value="Добавить">
          </li>
        </ol>
    </fieldset>
  </form>
</body>
</html>